  h1 {
    text-align: center;
    font-size: 60px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }

  .statement-row {
    position: relative; /* Enable child element positioning */
  }

  .statement {
    padding: 25px 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-top: 1px solid black;
  }

  .closing {
    padding: 0px;
    border-bottom: 1px solid black;
  }

  .buttons {
    width: 400px; /* Define your desired width */
    display: flex;
    justify-content: space-around;
  }

  td {
    padding: 0px;
    text-align: center;
  }

  td input[type="radio"] {
    width: 80px;
    height: 80px;
  }

  label {
    font-size: 2em;
    display: block;
    padding: 5px 0 25px;
  }

  /* Hidden text styles */
  .hidden-text {
    display: none;
    position: absolute; /* Make it positionable within the statement cell */
    top: 15px; /* Position at the top */
    right: 75px; /* Offset from the right edge */
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid #ddd;
    max-width: 80%;
    z-index: 10;
  }

  /* Info button styles */
  .info-button {
    background-color: #edf;
    border: 1px solid #568;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 60px;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
